*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;
    background:#111;
    color:white;

}

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    background:black;

}

.logo{

    font-size:30px;

    font-weight:bold;

    color:gold;

}

nav ul{

    display:flex;

    list-style:none;

}

nav li{

    margin-left:30px;

}

nav a{

    text-decoration:none;

    color:white;

}

nav a:hover{

    color:gold;

}